{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<h1>Liste des utilisateurs</h1>
{% for utilisateur in utilisateurs %}
    <p>{{ utilisateur.nom }} {{ utilisateur.prenom }} {{ utilisateur.mail }}</p>
{% endfor %}
{% endblock %}
