{% extends 'base.html.twig' %}

{% block title %}Créer UE{% endblock %}

{% block body %}
<h1>Créer une UE</h1>
{{ form(form) }}

{% endblock %}
{% block sidebar %}
    <p>Compléter les premiers champs. Vous pourrez revenir dans cette page au fur et à mesure.</p>
{% endblock %}
