{% extends 'base.html.twig' %}

{% block title %}Créer un parcours{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Créer un nouveau parcours</h1>

{{ form(form) }}
{% endblock %}
