{% extends 'base.html.twig' %}

{% block title %}{{ parcours.titre }}{% endblock %}

{% block body %}
        <h1>{{ parcours.titre }}</h1>
        <p><a class="btn btn-secondary" href="{{ path('mention.voir',{id:parcours.mention.id}) }}">Retour</a></p>
{{ form(form) }}

{% endblock %}
