{% extends 'base.html.twig' %}

{% block title %}Créer un niveau{% endblock %}

{% block body %}
    <h1>Créer un niveau pour cette compétence</h1>
    <p><a class="btn btn-secondary" href="{{ path('blocs.voir', {id: competence.bloc.mention.id}) }}">Retour</a></p>

{{ form(form) }}
{% endblock %}
{% block sidebar %}
    <p>Pour faciliter la création des apprentissages il est conseillé de caractériser les niveaux avec quelques mots (de 1 à 4 mots maximum).
    Vous pouvez utiliser un verbe mais ce n'est pas obligatoire.</p>
    <p>Exemple :</p>
    <p>Pour un bloc de compétences dont l'objectif est de piloter un avion, les niveaux pourraient être :</p>
    <ul>
        <li>Niveau 1 : En simulateur</li>
        <li>Niveau 2 : En copilote</li>
        <li>Niveau 3 : En commandant de bord</li>
    </ul>
    <p>Pour créer les apprentissages critiques, il faudra alors avoir en tête ces caractérisations de niveaux.</p>
{% endblock %}
